openapi: 3.0.0
info:
  title: LMS Backend API
  version: 1.0.0
  description: API documentation for the Learning Management System

servers:
  - url: https://lms-backend-qp3q.onrender.com
    description: Production (Global) Server
  - url: http://localhost:5000
    description: Development (Local) Server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

paths:
  /api/auth/signup:
    post:
      tags:
        - Authentication
      summary: Register a new user
      responses:
        '201':
          description: User created
  /api/auth/login:
    post:
      tags:
        - Authentication
      summary: Login to the system
      responses:
        '200':
          description: OK
  /api/auth/update-password:
    post:
      tags:
        - Authentication
      summary: Update user password
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Password updated

  /api/admin/create-user:
    post:
      tags:
        - Admin
      summary: Create a new Admin or Staff user
      description: Only accessible by users with Admin permissions.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                role:
                  type: string
                  enum: [admin, staff]
                  default: staff
      responses:
        '201':
          description: User created successfully
        '401':
          description: Unauthorized - No token provided
        '403':
          description: Forbidden - Insufficient permissions